<ViewSelector>
  <DestinationKeyStrategy>
  <AssemblyName>Sidesys.eFlow.ViewSelector.UI.dll</AssemblyName>
    <ClassName>eFlow.ViewSelector.UI.LineDestinationKey</ClassName>
  </DestinationKeyStrategy>
  <View Code="CENTROHOSPUCEIDPage.aspx">
    <Destination Code="NEXT" ConstraintCode="NULL" URL="/Touchscreen.aspx"/>
    <Default URL="Turnos/Error.aspx"/>
  </View>
  <View Code="TouchScreen.aspx">
    <Destination Code="NEXT" ConstraintCode="NULL" URL="Turnos/NewTask.aspx"/>
    <Default URL="Turnos/Error.aspx"/>
  </View>
  <View Code="NewTask.aspx">
    <Destination Code="NEXT" ConstraintCode="NULL" URL="/Touchscreen.aspx"/>
    <Default URL="Turnos/Error.aspx"/>
  </View>
</ViewSelector>