<OperationAccess>  
	<AccessPage name="FramePage"> 
		<AssemblyName>STE.dll</AssemblyName> 
		<ClassName>STE.AccessPage</ClassName> 
		<Config>
			<Destination>Menu/Principal.aspx</Destination> 
			<Protocol></Protocol>
			<Port></Port>
			<!--<Protocol>http</Protocol>
			<Port>80</Port>-->
		</Config>
  </AccessPage>
  <AccessPage name="EmissionPage"> 
		<AssemblyName>STE.dll</AssemblyName> 
		<ClassName>STE.AccessPage</ClassName> 
		<Config>
			<Destination>CENTROHOSPUCEIDPage.aspx</Destination> 
			<Protocol></Protocol>
			<Port></Port>
		</Config>
  </AccessPage>
  <AccessPage name="AttentionPage"> 
		<AssemblyName>STE.dll</AssemblyName> 
		<ClassName>STE.AccessPage</ClassName> 
		<Config>
			<Destination>AttentionViewRedirector.aspx?InFrame=false</Destination> 
			<Protocol></Protocol>
			<Port>80</Port>
		</Config>
  </AccessPage>
  <Logout>
    <Protocol>http</Protocol>
    <Port>80</Port>
  </Logout>
</OperationAccess>